*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-clr:#2b2922;
    --btn-clr:#5e552b;
    --white-clr:#f1f0ef;
    --gray-clr: #a5a39f;
    --primary-font-1 :  'Red Rose', 'cursive', 'serif';
    --primary-font-2 :  'Dela Gothic One', 'cursive' , 'serif';

 }
 body{
    font-family: var(--primary-font-1);
   background-color: var(--primary-clr);
 }
 li{
    list-style: none;
 }
 h1{
    font-size: 2.8rem;
    font-family: var(--primary-font-2);
    color: var(--white-clr);
    letter-spacing: 1px;
    font-weight: 400;
 }
 p{
    color: var(--gray-clr);
    font-size: .950rem;
    font-weight: 400;
    line-height: 1.5;  
   
    font-family: var(--primary-font-1);
 }
 button.button-small{
    padding: .675rem 1.5rem;
    background-color: transparent;
    border: 1.5px solid var(--btn-clr);
    color: var(--btn-clr);
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
 }
 button.button-small:hover{
    border: 1.5px solid var(--white-clr);
    color: var(--white-clr);
   
 }
 .container{
    width: 100%;
    
    
  
 }

 /* Navbar stars here */
 section[aria-label="navbar"]{
    width: 85%;
    margin: 0 auto;

 }
 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
 }
 .navbar div img{
    width: 55%;
 }
 .navbar .list{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 12rem;
 }
 .navbar .list li{
    color: var(--gray-clr);
    cursor: pointer;
    transition: all .2s ease-in;
   }
   .navbar .list li:hover{
    color: var(--white-clr);
   }
   .navbar .list li:first-child{
    color: var(--white-clr);
   }
   /* Hero section starts here */
   section[aria-label="hero"]{
    width: 85%;
    margin: 0 auto;
    padding: 3rem 1rem;
    
   }
   .hero{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 4rem;
     place-items: center;
   }
  .hero .hero-description{
    max-width: 70%;
    margin-left: 3rem;
  }
   /* Banner section starts here */
   section[aria-label="banner"]{
    width: 100%;
    position: relative;
   }
   .banner-img{
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 44vh;
      min-height: 44vh;
      background-image: url("./assets/backgournd-img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
   }  
    
   